body{
    background-color: rgb(7, 4, 33);
}
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
  }
  
  h2 {
    margin-bottom: 20px;
    color: green;
  }
  
.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(238, 231, 231, 0.4);
    border-radius: 5px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  
  label {
    font-weight: bold;
    color: green;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid rgb(109, 102, 102);
    background-color: black;
    color:white;
    border-radius: 3px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px;
  }
  
  .loginbutton {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    width: 100px;
    background-color: green;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginbutton:hover {
    background-color: #74b1ac;
  }
  
  .loginbutton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  