/* editprofile.css */
  /* Container */
  .edit-profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  }
  
  /* Form */
  .form {
    margin-top: 10px;
  }
  
  .large {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .lead {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn-primary {
 
    display: inline-block;
    padding: 10px 10px;
    margin-top: 1px;
    font-size: 20px;
    border: none;
    background-color:rgb(24, 61, 19);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #44af5290;
  }
  
  .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  /* Grid Layout */
  .edit-profile-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  
  .right-side {
    grid-column: 2 / span 1;
  }
  
  /* Toastify Styles */
  .Toastify__toast-container {
    z-index: 9999;
  }
  
  .Toastify__toast--success {
    background-color: #5cb85c;
  }
  
  .Toastify__toast--error {
    background-color: #d9534f;
  }
  
  .Toastify__toast-body {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .edit-profile-container {
      padding: 15px;
    }
  
    .large {
      font-size: 20px;
    }
  
    .lead {
      font-size: 16px;
    }
  
    .form-control {
      padding: 10px;
    }
  
    .btn-primary {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .edit-profile-grid {
      display: block;
    }
  }
  
  /* Additional Styling */
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .success {
    color: #28a745;
    font-size: 14px;
    margin-top: 5px;
  }
  